html, body {
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(180deg, rgb(40, 66, 79) 10%, rgb(31, 130, 130));
}

.snows {
  position: relative;
  height: 90vh;
}

.snows li {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}